os: osx
language: csharp
solution: CaseConversions.sln
dotnet: 2.2.104
python: 3.7
mono: latest
env:
  global:
    - LULLAPY_ROOT=$TRAVIS_BUILD_DIR/lullapy
    - TESTS_BIN=./CaseConversions.Tests/bin
    - TESTS_ASSEMBLY=Andeart.CaseConversions.Tests.dll
  matrix:
    - CONFIG_NAME=Release
    - CONFIG_NAME=Debug
before_install:
  - export PYTHONPATH=$LULLAPY_ROOT:$PYTHONPATH
  - chmod -R a+x $LULLAPY_ROOT
install:
  - pip3 install -r requirements.txt
script:
  - python3 -m andeart.lullapy.netrestore -s "$TRAVIS_SOLUTION"
  - python3 -m andeart.lullapy.tools/netbuild -s "$TRAVIS_SOLUTION" -c "$CONFIG_NAME"
  - python3 -m andeart.lullapy.tools/nettest -t "$TESTS_BIN/$CONFIG_NAME/$TESTS_ASSEMBLY"
